@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.tab-item-1 {
  background: linear-gradient(rgba(101, 74, 156, 0.8), rgba(101, 75, 155, 0.8)),
    url(../assets/images/tab_bg_1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tab-item-2 {
  background: linear-gradient(rgba(101, 74, 156, 0.8), rgba(101, 75, 155, 0.8)),
    url(../assets/images/tab_bg_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 16px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}
.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .hamburger-middle {
  display: none;
}
.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
